.forgotpassword {
  background: #f8f9fd;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 112px;
}
.forgotpassword .card {
  width: 448px;
  height: 277px;
  background: #ffffff;
  box-shadow: 0px 20px 30px #0000001a;
  border-radius: 4px;
  border: none;
}
.forgotpassword .card-body {
  padding: 29px 40px 32px 40px;
}
.forgotpassword .blank-text {
  font-size: 24px;
  letter-spacing: 0px;
  color: #448aff;
  text-align: center;
  margin-bottom: 44px;
}
.forgotpassword .forgot-txt {
  font-size: 24px;
  color: #272b41;
  margin-bottom: 41px;
  text-align: center;
}
.forgotpassword .input-title {
  font-size: 12px;
  letter-spacing: 0px;
  color: #5a5f7d;
  margin: 0px;
}
.forgotpassword .form-control {
  background: #eff1f7 0% 0% no-repeat padding-box;
  border: 1px solid #d6ddf0;
  height: 48px;
}
.forgotpassword .submit {
  margin-top: 32px;
  background: #2763fe;
  height: 48px;
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .forgotpassword .card {
    width: auto !important;
  }
}