.login .img-sec {
  height: 100vh;
  padding: 0px;
}
.login .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}

.login .input-title {
  font-size: 12px;
  letter-spacing: 0px;
  color: #5a5f7d;
  margin: 0px;
}
.login .form-control {
  background: #eff1f7 0% 0% no-repeat padding-box;
  border: 1px solid #d6ddf0;
  height: 48px;
  width: 368px;
}
.login .login-btn {
  margin-top: 10px;
  background: #2763fe;
  height: 48px;
  font-weight: 500;
  width: 368px;
}

.login .content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .blank-text {
  font-size: 24px;
  letter-spacing: 0px;
  color: #448aff;
  text-align: center;
}
.login .f-password {
  text-align: center;
  font-size: 16px;
  color: #272b41;
  margin: 47px 0px;
  font-weight: 500;
  cursor: pointer;
}
.login .nt-register-txt {
  font-size: 16px;
  color: #5a5f7d;
  text-align: center;
}
.login .signup {
  font-weight: 500;
  color: #2763fe;
  padding-left: 10px;
  cursor: pointer;
}
.login .sp-login {
  text-align: center;
  color: #5a5f7d;
  margin-top: 6px;
}
.login .sp-login span {
  border: 1px solid #e5e5e5;
  border-radius: 18px;
  padding: 4px 18px 8px 18px;
  font-weight: 500;
}
.login .or {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.login .input-spacing {
  margin-bottom: 22px !important;
}
@media only screen and (max-width: 1024px) {
  .login .img-sec {
    display: none;
  }
  .login .content-center {
    height: 100vh;
  }
}
